.delete-confirmation{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 10vh;
    left: auto;
    color: black;
    border-radius: 10px;
    background-color: white;
    border: 2px solid #0E7373;
    padding: 20px;
    z-index: 100;
}

.close-delete:hover{
    background-color: #0E7373 !important;
    color: white !important;
    border: white !important;
}

.close-delete{
    margin-bottom: 20px;
}

.delete-account:hover{
    background-color: red !important;
    color: white !important;
}