.membercard {
    width: 50%;
    padding: 10px !important;
}

.member-card {
    color: black;
}

.member-card:hover {
    text-decoration: none;
    color: black;
}

.member-hover:hover {
    text-decoration: underline;
    color: black;
}

.member-hover {
    font-weight: 600;
}

@media screen and (min-width: 768px) {
    .membercard {
        padding: 10px 125px !important;
    }
}